/* fonts for the entire project */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
/* common styles */

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    /* width: 100vw; */
}

body {
    /* background-color: rgb(236, 236, 236); */
    background-color: #FFFFFF;
    color: #18191F;
}

p {
    color: #6C6C6C;
}

/* header styles */

header {
    background-color: #2D25A0;
    color: #FFFFFF;
    padding-top: 42px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label {
    font-size: 26px;
    line-height: 70px;
    display: none;
}

#toggle {
    display: none;
}

.nav-items {
    display: flex;
    list-style: none;
    /* padding-left: 60px; */
}

.nav-items>li>a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    margin: 0 36px;
}

/* top-section styles */

.top-section {
    background-color: #2D25A0;
    height: 590px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section-title {
    animation: rush-in 0.5s ease-in forwards;
    -webkit-animation: rush-in 0.5s ease-in-out forwards;
}

.section-title>h1 {
    font-weight: 700;
    font-size: 64px;
    width: 480px;
    color: #FFFFFF;
}

.top-section-img {
    animation: haste-in 0.5s ease-in forwards;
    -webkit-animation: haste-in 0.5s ease-in-out forwards;
}

.top-section-img>img {
    width: 556px;
    height: 456px;
    transition: transform 0.8s linear;
    -webkit-transition: transform 0.8s linear;
    -moz-transition: transform 0.8s linear;
    -ms-transition: transform 0.8s linear;
    -o-transition: transform 0.8s linear;
}

.top-section-img>img:hover {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
}

.btn {
    padding: 14px 34px;
    background-color: #E02C6D;
    border: 1px solid #E02C6D;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500px;
    transition: transform 0.3s ease-in;
}

.btn>a {
    text-decoration: none;
    color: #FFFFFF;
}

.btn:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

@keyframes rush-in {
    from {
        transform: translateX(-600px);
        -webkit-transform: translateX(-600px);
        -moz-transform: translateX(-600px);
        -ms-transform: translateX(-600px);
        -o-transform: translateX(-600px);
    }
    to {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}

@keyframes haste-in {
    from {
        transform: translateX(600px);
        -webkit-transform: translateX(600px);
        -moz-transform: translateX(600px);
        -ms-transform: translateX(600px);
        -o-transform: translateX(600px);
    }
    to {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}

/* front page section styling */

.card-container {
    display: flex;
    justify-content: center;
}

.front-page {
    width: 1050px;
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    /* justify-items: center; */
}

.player-card {
    background-color: #FFFFFF;
    width: 330px;
    height: 474px;
    box-shadow: 0 0 30px rgb(211, 211, 211);
    transition: transform 0.3s ease-in;
    -webkit-transition: transform 0.3s ease-in;
    -moz-transition: transform 0.3s ease-in;
    -ms-transition: transform 0.3s ease-in;
    -o-transition: transform 0.3s ease-in;
}

.card-img>img {
    max-width: 300px;
    max-height: 256px;
    margin: 15px;
}

.card-info>h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
}

.card-info h3, p {
    width: 300px;
    margin: 0 15px;
}

.player-card:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/* front page section styling end */

/* next match section styles */

.next-match {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

.next-matches {
    width: 70%;
    margin: 8% auto 8% auto;
    box-shadow: 0 0 30px rgb(211, 211, 211);
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.next-matches>.button {
    margin: 0 auto 5% auto;
}

.next-matches>h1 {
    padding-top: 5%;
    text-align: center;
    font-size: 40px;
    animation: text 3s linear infinite;
    -webkit-animation: text 3s linear infinite;
}

.next-match h1 {
    font-size: 60px;
}

.next-match img {
    max-width: 100%;
    max-height: 100%;
}

@keyframes text {
    0% {
        color: #2D25A0;
    }
    50% {
        color: #E02C6D;
    }
    100% {
        color: rgb(13, 116, 93);
    }
}

/* pre match styles */

.pre-match {
    width: 70%;
    margin: 14% auto 8% auto;

    background-color: #FFFFFF;
    box-shadow: 0 0 30px rgb(211, 211, 211);
   
}

.coach-reaction {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.coach-img {
    width: 200px;
    height: 200px;
    position: absolute;
    left: auto;
    right: auto;
    top: -150px;
}

.coach-img>img {
    max-width: 100%;
    max-height: 100%;
    background-color: rgb(211, 211, 211);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 3px solid #2D25A0;
}

.coach-info {
    width: 70%;
    margin: 0 auto;
    padding: 70px 0;
}

.coach-info>p {
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 20px;
}

/* pre match styles end */

/* Newsletter styles  */

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8% auto;
    background-color: #2D25A0;
    color: #FFFFFF;
    padding: 2% 0;
}

.newsletter>h1 {
    font-size: 45px;
    text-align: center;
}

.newsletter>p {
    text-align: center;
    padding: 1.5% 0;
    color: lightgray;
}

.newsletter-form {
    display: flex;
    align-items: center;
}

.email {
    padding: 15px;
}

/* bottom section styling start*/

.bottom-section {
    display: flex;
    margin-top: 165px;
    justify-content: space-evenly;
}

.section-info>h1 {
    font-size: 48px;
    width: 470px;
}

.section-info p {
    font-size: 16px;
    color: #6C6C6C;
    width: 404px;
    margin: auto 0 25px 0;
}

.bottom-img>img {
    width: 567px;
    height: 427px;
}

/* bottom section styling end */

/* footer section styling start */

.footer {
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2%;
}

.footer>img {
    width: 484px;
    height: 110px;
}

.footer p {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.social a {
    padding: 20px 14px;
    margin: 0 5px;
    font-size: 20px;
    color: gray;
    /* background-color: lightgray; */
}

.social-icon {
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: rgb(235, 235, 235);
    border-radius: 50%;
}

/* responsive styles */

@media only screen and (max-width:688px) {
    header {
        display: flex;
        justify-content: space-between;
        padding-left: 16px;
        padding-right: 16px;
        align-items: center;
    }
    label {
        display: block;
        cursor: pointer;
    }
    .header {
        width: auto;
        flex-direction: column;
        align-items: start;
        margin: 0;
    }
    .nav-items {
        /* text-align: center; */
        flex-direction: column;
        margin-left: 0;
        padding-left: 0;
        width: auto;
        height: auto;
        display: none;
    }
    #toggle:checked+.nav-items {
        display: block;
        position: relative;
        top: 0;
    }
    /* top section responsive */
    .top-section {
        flex-direction: column;
        align-items: center;
    }
    /* .section-title {
        padding-top: 45px;
    } */
    .section-title>h1 {
        font-size: 2.25rem;
        width: 17.375rem;
        /* margin-bottom: 25px; */
    }
    /* .section-title>.btn{
        margin-bottom: 50px;
    } */
    .top-section-img>img {
        /* margin-left: 15px; */
        width: 330px;
        height: 260px;
        /* margin-bottom: 60px; */
    }
    /* middle section responsive */
    .front-page {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    /* bottom section */
    .bottom-section {
        flex-direction: column;
        align-items: center;
    }
    .section-info>h1 {
        font-size: 1.875rem;
        width: 18.375rem;
    }
    .bottom-img>img {
        width: 328px;
        height: 248px;
    }
    .section-info {
        margin: 0 auto;
    }
    .section-info>p {
        width: 330px;
    }
    .bottom-img {
        margin-top: 30px;
    }
    /* next match section  */
    .next-matches {
        width: 100%;
        box-shadow: none;
    }
    .next-matches h1 {
        font-size: 30px;
    }
    .next-match {
        grid-template-columns: 1fr;
    }
    .next-match h1 {
        font-size: 40px;
    }
    .next-match img {
        max-width: 100%;
        max-height: 100%;
    }
    /* pre match styles */
    .pre-match {
        width: 90%;
        /* background-color: rgb(228, 228, 228); */
    }
    .coach-reaction {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px 0;
    }
    .coach-img {
        position: static;
    }
    .coach-img>img {
        max-width: 100%;
        max-height: 100%;
    }
    /* pre match end */
    /* newsletter section styles */
    .newsletter>h1 {
        font-size: 30px;
    }
    .newsletter-form {
        display: flex;
        flex-direction: column;
    }
    /* footer section */
    .footer {
        align-items: center;
    }
    .footer>img {
        width: 270px;
        height: 65px;
    }
}

@media only screen and (min-width: 689px) and (max-width: 992px) {
    /* responsive header section  */
    header {
        display: flex;
        justify-content: space-between;
        padding-left: 16px;
        padding-right: 16px;
        align-items: center;
    }
    label {
        display: block;
        cursor: pointer;
    }
    .header {
        width: auto;
        flex-direction: column;
        align-items: start;
        margin: 0;
    }
    .nav-items {
        /* text-align: center; */
        flex-direction: column;
        margin-left: 0;
        padding-left: 0;
        width: auto;
        height: auto;
        display: none;
    }
    #toggle:checked+.nav-items {
        display: block;
        position: relative;
        top: 0;
    }

    /* header style ends */


    /* top section responsive */
    .top-section {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .section-title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-title>h1 {
        font-size: 43px;
        width: 96%;
        padding: 16px;
    }
    .section-title>.btn {
        width: 26%
    }
    .top-section-img>img {
        width: 360px;
        height: 284px;
    }
    /* front page responsive */
    .front-page {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .bottom-img>img {
        width: 365px;
        height: 275px;
    }
    .bottom-section {
        flex-direction: column;
        align-items: center;
    }
    .section-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .section-info>h1 {
        font-size: 32px;
        width: 80%;
        text-align: center;
    }
    .section-info>p {
        width: 60%;
        padding: 20px 0;
        text-align: center;
    }
    .section-info>.btn {
        width: 26%;
        margin-top: -16px;
    }
    .bottom-img {
        margin-top: 40px;
    }
    .next-matches {
        width: 100%;
        box-shadow: none;
    }
    .next-match img {
        max-width: 100%;
    }
    .pre-match {
        width: 90%;
        /* background-color: rgb(228, 228, 228); */
    }
    .coach-reaction {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }
    .coach-img {
        position: static;
    }
    .coach-img>img {
        max-width: 100%;
        max-height: 100%;
    }
}